@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}

.body-container {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border: 0.1px solid #dddfe4;
}

.flex {
  display: flex;
}

.width {
  width: 100%;
}

/* content */
.main-container {
  padding-left: 135px;
  padding-top: 38px;
  padding-right: 150px;
  padding-bottom: 106px;
}
.content {
  margin-top: 94px;
  gap: 50px;
}

.text-title {
  font-size: 20px;
  font-weight: 400;
  color: #4f5665;
}
.text-title2 {
  font-size: 20px;
  font-weight: 700;
  color: #6a4029;
}
.wrapper-left {
  width: 50%;
  flex-direction: column;
  align-items: center;
}
.img-prod {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #dddfe4;
  align-items: center;
  justify-content: center;
}
.wrapper-img-prod {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: #dddfe4;
  align-items: center;
  justify-content: center;
}
.btn {
  margin-top: 34px;
  height: 88px;
  width: 70%;
  font-size: 25px;
  font-weight: 700;
  border-radius: 20px;
  border: none;
}
.take-image {
  color: #ffffff;
  background-color: #0b132a;
}
.choose-image {
  color: #6a4029;
  background-color: #ffba33;
}
.wrapper-input {
  width: 70%;
  margin-top: 35px;
}
.label-text,
.label-text-stock {
  font-size: 25px;
  font-weight: 700;
  color: #6a4029;
  margin-bottom: 25px;
}
.label-text {
  margin-top: 80px;
}
.label-text-stock {
  margin-top: 5px;
}
.input-div,
.input-div-right {
  font-family: "Poppins";
  font-size: 20px;
  font-weight: 400;
  color: #9f9f9f;
  border: 1px solid #9f9f9f;
  border-radius: 20px;
  padding-left: 33px;
  margin-top: 20px;
  padding-right: 20px;
  /* margin-bottom: 35px; */
}
.input-div {
  height: 83px;
}
.input-div-right {
  height: 76px;
  margin-bottom: 35px;
}
.label-text-form {
  font-size: 25px;
  font-weight: 700;
  color: #6a4029;
}
.wrapper-right {
  width: 50%;
}
.text-click {
  font-size: 20px;
  color: #9f9f9f;
}
.wrapper-circle {
  gap: 28px;
  margin-bottom: 54px;
}
.circle {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e5e5;
}
.wrapper-circle-food,
.wrapper-circle-drink {
  width: 50%;
  gap: 28px;
}
.textsizedrink {
  font-family: "Poppins";
  font-size: 30px;
  font-weight: 700;
  color: #0b132a;
}
.textsizefood {
  font-family: "Poppins";
  font-size: 15px;
  font-weight: 700;
  line-height: 23px;
}
.wrapper-btn-method {
  gap: 27px;
}
.btn-method-category {
  width: 30%;
  height: 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e5e5;
  border-radius: 20px;
  font-size: 20px;
  font-weight: 700;
  color: #4f5665;
  border: none;
}
.btn-method-category:active {
  background-color: #6a4029;
  color: #ffffff;
}
.wrapper-delivery {
  margin-bottom: 80px;
}
.button-save,
.button-cancel {
  width: 100%;
  height: 98px;
  border-radius: 20px;
  margin-bottom: 25px;
  border: none;
}
.button-save {
  background-color: #6a4029;
}
.button-save:active {
  background-color: #7a503a;
}
.button-cancel {
  background-color: #e7e5e5;
}
.button-cancel:active {
  background-color: #d1cbcb;
}
.text-save,
.text-cancel {
  font-family: "Poppins";
  font-size: 25px;
  font-weight: 700;
}
.text-save {
  color: #ffffff;
}
.text-cancel {
  color: #4f5665;
}
.wrapper-button-hide {
  display: none;
}
.wrapper-input-hide {
  display: none;
}
.wrapper-button-cancel {
  width: 70%;
}
.wrapper-button-save,
.wrapper-button-cancel {
  margin-top: 70px;
}
@media (max-width: 1024px) {
  .main-container {
    padding-left: 50px;
    padding-right: 50px;
  }
  .circle {
    height: 50px;
    width: 50px;
  }
  .textsizedrink {
    font-size: 20px;
  }
  .textsizefood {
    font-size: 13px;
  }
  .btn-method-delivery {
    font-size: 15px;
  }
}
@media (max-width: 768px) {
  .main-container {
    padding-bottom: 50px;
  }
  .take-image,
  .choose-image {
    font-size: 18px;
  }
  .label-text {
    margin-top: 12px;
  }
  .input-div,
  .input-div-right {
    font-size: 18px;
  }
  .input-div-right {
    margin-bottom: 30px;
  }
  .btn,
  .wrapper-input {
    width: 100%;
  }
  .wrapper-circle {
    flex-direction: column;
  }
  .wrapper-circle-drink,
  .wrapper-circle-food {
    width: 100%;
  }
  .btn-method-delivery {
    text-align: center;
  }
  .button-save,
  .button-cancel {
    height: 80px;
  }
  .circle {
    width: 60px;
    height: 60px;
  }
  .wrapper-button {
    display: none;
  }
  .label-text {
    margin-top: 105px;
  }
  .wrapper-button-hide {
    display: block;
    margin-top: 30px;
  }
  .wrapper-button-save,
  .wrapper-button-cancel {
    display: none;
  }
}
@media (max-width: 480px) {
  .content {
    flex-direction: column;
  }
  .main-container {
    padding-left: 30px;
    padding-right: 30px;
  }
  .wrapper-left,
  .wrapper-right {
    width: 100%;
  }
  .label-text {
    margin-bottom: 0px;
  }
  .wrapper-input {
    display: none;
  }
  .wrapper-input-hide {
    display: block;
  }
  .wrapper-delivery {
    margin-bottom: 30px;
  }
  .wrapper-button-hide {
    margin-top: 50px;
  }
  .label-text {
    margin-top: 30px;
  }
  .wrapper-input-stock-hide {
    display: none;
  }
}
