@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&family=Rubik:wght@400;500;700&display=swap");

*,
::before,
::after {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Rubik", sans-serif;
}
.wrapper {
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 0.5px solid #9f9f9f;
  display: flex;
}
.cursor {
  cursor: pointer;
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
/* header */
.container {
  display: flex;
  flex: 3;
  justify-content: space-around;
  align-items: center;
  padding-top: 52px;
  padding-bottom: 49px;
  padding-left: 50px;
  padding-right: 50px;
  background: #ffffff;
}
/* aside coffeeshop */
.logo-coffeeshop {
  display: flex;
  justify-content: center;
  align-items: center;
}
.logo {
  width: 30px;
  height: 33px;
}
.text-logo {
  margin-left: 15px;
  font-weight: 700;
  font-size: 20px;
  color: #0b132a;
  margin-bottom: 0px;
}
/* nav-bar */
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 40px;
}
.text-nav {
  font-weight: 400;
  font-size: 16px;
  color: #4f5665;
  margin-bottom: 0px;
}
.text-nav:active {
  font-weight: 700;
  color: #6a4029;
}
/* aside other-content */
.other-content {
  width: 330px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 33px;
}
.search {
  width: 56%;
  height: 34px;
  background-color: #efeeee;
  border-radius: 30px;
  display: flex;
  align-items: center;
  padding-left: 14px;
}
.icon-search {
  width: 15px;
  height: 15px;
}
.input {
  border: none;
  outline: none;
  width: 70%;
  background-color: transparent;
  margin-left: 15px;
}
.msg {
  width: 15px;
  height: 15px;
  background: #6a4029;
  border-radius: 50%;
  margin-bottom: -7px;
  margin-left: -7px;
  position: relative;
}
.text-msg {
  position: absolute;
  left: 47%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-weight: 700;
  font-size: 8px;
  color: #ffffff;
}
.img-profile {
  width: 34px;
  height: 34px;
  border: 3px solid #6a4029;
  border-radius: 50%;
  filter: drop-shadow(0px 6px 20px rgba(106, 64, 41, 0.8));
}
.login {
  width: 40%;
  height: 45px;
  background-color: #ffffff;
  border: none;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #0b132a;
}
.login:active {
  font-weight: 700;
}
.signup {
  width: 60%;
  height: 45px;
  background: #ffba33;
  padding-left: 5px;
  border-style: none;
  border-radius: 50px;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  color: #6a4029;
}
.signup:active {
  background: #f5c668;
}
.wrapper-burger {
  display: block;
  width: 100%;
  height: 300px;
  background-color: darkseagreen;
  display: none;
}
.wrapperImgBurger {
  display: none;
}
.imgBurger {
  width: 30px;
  height: 30px;
}

@media (max-width: 768px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .nav-bar {
    display: none;
  }
  .text-nav {
    margin-top: 15px;
    color: #34373f;
  }
  .wrapperSide {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    /* animation: sideleft linear 0.8s alternate; */
  }
  .contentBurger {
    display: none;
  }
  @keyframes sideleft {
    from {
      margin-left: 300px;
    }
    to {
      margin-left: 0px;
    }
  }
  .wrapperSideLogin {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    animation: side linear 1s alternate;
  }
  @keyframes side {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0px;
    }
  }
  .login {
    width: 40%;
    border-radius: 20px;
  }
  .signup {
    width: 40%;
  }
  .wrapper-burger {
    display: block;
    width: 100%;
    height: 300px;
    background-color: rgb(191, 192, 191);
    animation: burger linear 1s alternate;
  }
  @keyframes burger {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0px;
    }
  }

  .wrapperImgBurger {
    display: block;
  }
  .wrapper-burger {
    height: 180px;
  }
}

@media (max-width: 480px) {
  .wrapper {
    width: 100%;
  }
  .container {
    width: 100%;
  }
  .nav-bar,
  .other-content {
    gap: 10px;
  }
  .nav-bar {
    display: none;
  }
  .other-content {
    display: none;
  }
  .text-nav {
    margin-top: 15px;
    color: #34373f;
  }
  .wrapperSide {
    width: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 30px;
    /* animation: sideleft linear 0.8s alternate; */
  }
  .contentBurger {
    margin-top: 30px;
    margin-left: 30px;
    display: flex;
    gap: 20px;
  }
  @keyframes sideleft {
    from {
      margin-left: 300px;
    }
    to {
      margin-left: 0px;
    }
  }
  .wrapperSideLogin {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    animation: side linear 1s alternate;
  }
  @keyframes side {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0px;
    }
  }
  .login {
    width: 40%;
    border-radius: 20px;
  }
  .signup {
    width: 40%;
  }
  .wrapper-burger {
    display: block;
    width: 100%;
    height: 300px;
    background-color: rgb(191, 192, 191);
    animation: burger linear 1s alternate;
  }
  @keyframes burger {
    from {
      margin-left: 500px;
    }
    to {
      margin-left: 0px;
    }
  }
  .wrapper-burger {
    height: 250px;
  }
  .wrapperImgBurger {
    display: block;
  }
  .container {
    padding: 20px;
    justify-content: space-between;
  }
}
